<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Recipe Book</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" appDropdown #dropdownRef="appDropdown">
                Manage
              </a>
              <ul class="dropdown-menu" [ngClass]="{'show': dropdownRef.isOpen}">
                <li><a href="#" class="dropdown-item">Save Data</a></li>
                <li><a href="#" class="dropdown-item">Fetch Data</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </nav>