<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Recipe Book</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active">Shopping List</a>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" appDropdown #dropdownRef="appDropdown" style="cursor: pointer;">
                Manage
              </a>
              <ul class="dropdown-menu" [ngClass]="{'show': dropdownRef.isOpen}">
                <li><a class="dropdown-item" style="cursor: pointer;">Save Data</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;">Fetch Data</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </nav>