<div class="row">
    <div class="col-xs-12">
        <img src="{{ recipe.imagePath }}" alt="" class="img-responsive" style="max-height: 200px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" appDropdown #dropdownRef="appDropdown" style="cursor: pointer;">Manage Recipe</button>
            <ul class="dropdown-menu" [ngClass]="{'show': dropdownRef.isOpen}">
                <li><a class="dropdown-item" (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action" *ngFor="let ingredient of recipe.ingredients" style="cursor: pointer;">{{ ingredient.name }} ({{ ingredient.amount }})</li>
        </ul>
    </div>
</div>